
@import "reset.css";

/* 
** general //////////////////////////////////////
*/

body {
	padding: 0;
	margin: 0;
	/*forces address bar to hide on iphone*/
	min-height:540px;
}
/*forces address bar to hide on iphone*/
body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; }
/* main top bar */

#mainbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 60px;
	text-align: center;
	background: #aeed63;
/*	background: url('../images/site/button_base.png') repeat-x; */
}
#mainbar .group {
	position: absolute;
	text-align: center;
	height: 100%;
}
#mainbar .center {
	left: 50%;
	width: 20%;
	margin: 0 auto;
	background: none;
}
#mainbar .center .button {
	position: relative;
	width: 100%;
	height: 100%;
	right: 50%;
	background: #fe9f0d;
}
#mainbar .left {
	width: 40%;
	left: 0;
/*	padding-right: 1px; */
}
#mainbar .right {
	width: 40%;
	right: 0;
/*	padding-left: 1px; */
}
#mainbar .left .button,
#mainbar .right .button  {
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
/*	background: url('../images/site/button_topshadow.png') repeat-x; */
}
#mainbar .right .button {
	float: right;
}
#mainbar .left span,
#mainbar .center span,
#mainbar .right span {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* footer */
#footer {
	display: none;
}

/* 
** ui elements 
** nui overwrites ///////////////////////////////
*/

/* main top bar */

#mainbar button.nui-btn {
	height: 100%;
	background: url('../images/site/bar_buttons.png') no-repeat;
}
#mainbar button.nui-btn,
#mainbar div.nui-try {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
	width: 100%;
}
#mainbar button.nui-btn img {
	display: none;
}
#mainbar div.bt_4 button.nui-btn {
	background-position: 50% -780px;
}
#mainbar div.bt_4 button.nui-slc { /* sel */
	background-position: 50% -720;
}
#mainbar div.bt_5 button.nui-btn {
	background-position: 50% -540px;
}
#mainbar div.bt_5 button.nui-slc { /* sel */
	background-position: 50% -480;
}
#mainbar div.bt_3 button.nui-btn {
	background-position: 50% -420px;
}
#mainbar div.bt_3 button.nui-slc { /* sel */
	background-position: 50% -360;
}
#mainbar div.bt_2 button.nui-btn {
	background-position: 50% -180px;
}
#mainbar div.bt_2 button.nui-slc { /* sel */
	background-position: 50% -120px;
}
#mainbar div.bt_1 button.nui-btn {
	background-position: 50% -60px;
}
#mainbar div.bt_1 button.nui-slc { /* sel */
	background-position: 50% 0;
}
#mainbar button.nui-slc {
	background-color: #301400;
}
#mainbar div.nui-try {
	background-color: #301400;
}
#mainbar div.nui-try button.nui-btn {
	background: none;
	color: white;
	height: 48px;
	text-shadow: none;
	font: bold .9em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-indent: 20px;
	border-top: 1px solid #3b210a;
	border-bottom: 1px solid #220d00;
}
#mainbar div.nui-try button.nui-btn:first-child {
	border-top-color: #301300;
}
#mainbar div.bt_5 div.nui-try button.nui-btn:last-child {
	background: #ff565e;
	border-bottom-color: #e03d45;
}
#mainbar div.nui-try button.nui-slc {
	border-left: 10px solid #aeed63;
	text-indent: 10px;
}

/* options dialog */

span.nui-dlg {
	z-index: 100;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	height: auto;
}
span.nui-dlg.dircontrol .title {
	width: 100%;
	display: table;
	height: 50px;
	text-align: center;
	background-color: #fff;
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
	color: #ff6666;
}
span.nui-dlg.dircontrol .title h2 {
	display: table-cell;
	vertical-align: middle;
	font-size: .9em;
	background: url('../images/site/h_shadow.png') no-repeat 50% 42px;
}
.nui-dlg.dircontrol .nui-icn {
	position: absolute;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
span.nui-dlg.dircontrol button.nui-btn {
	border: 0;
	padding: 0;
	width: 100%;
	display: block;
	float: none;
	height: 48px;
	background: #ebeaea url('../images/site/list_sel.png') 100% -1px no-repeat;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #e4e3e2;
	-webkit-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	text-align: left;
	text-indent: 20px;
	color: #2d1500;
	font-size: .9em;
	font-weight: bold;
}
span.nui-dlg.dircontrol img + button.nui-btn {
	border-top-color: #ebeaea;
}
span.nui-dlg.dircontrol button.nui-slc {
	background-position: 100% -51px;
}
span.nui-dlg.dircontrol .close {
	width: 100%;
	background-color: #ebeaea;
	height: 99px;
	display: block;
	position: relative;
	text-align: center;
	border-top: 1px solid #f5f5f5;
	border-bottom-left-radius: .4em;
	border-bottom-right-radius: .4em;
}
span.nui-dlg.dircontrol .close span {
	width: auto;
	padding: 40px 0 2px;
	color: #ff6666;
	font-weight: bold;
	font-size: .9em;
	border-bottom: 1px solid #ff6666;
	display: inline-block;
}



/* 
** google maps //////////////////////////////////
*/

div.items-container {
	width:20%;
	float:left;
}
div#map_canvas {
	position: absolute;
	bottom: 0;
	width:100%;
	height:100%;
}
div#token {
	display:none;
}
div#loading-gif {
	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	height:100px;
	overflow:hidden;
}
/* 
** media calls //////////////////////////////////
*/

/* assets for retina displays and high-res */
@media
only screen and (-webkit-min-device-pixel-ratio: 2) {
}

/* submenu for smartphones */
@media
only screen and (max-width: 960px),
only screen and (max-device-width: 960px) {
	div.right div.nui-try {
		position: absolute;
		right: 0;
	}
	div.left div.nui-try {
		position: absolute;
		left: 0;
	}
}

/* submenu for standard screens */
@media
only screen and (min-width: 960px),
only screen and (max-device-width: 960px) {
}




/*///// A panel to show stuff to work on//////////*/
div#working-panel {
	display: none;	
	background: white;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: end;
	
	/* FIND A WAY TO APPLY THIS
	-moz-box-orient: horizontal;
	-moz-box-pack: justify;
	-moz-box-align: end;
	box-orient: horizontal;
	box-pack: justify;
	box-align: end;
	*/
}
div#working-panel div.division1 {
	position: absolute;
	height: 23px;
	width: 100%;
	bottom: -5px;
	background: url('../images/site/h_shadow.png') no-repeat 50% -8px;
	z-index: 50;
}
div#wrap_combined_inputs {
	width: 100%;
	overflow: auto;
	max-height: 100%;
}
div#wrap_combined_inputs_save{
	width: 100%;
	overflow: auto;
	max-height: 100%;
	position:relative;
	left:40%;
}
#save_input {
	clear: both;
	display: block;
	height: 60px;
	width: 100%;
	border: 0;
	background: #ff6666 url('../images/site/save_texture.png') 50% top;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-size: .9em;
	text-transform: capitalize;
}
div#wrap_combined_inputs span.nui-atc {
	height: 60px;
	width: 100%;
	background: #f5f4f4 url('../images/site/save_texture.png') repeat-x 50% -60px;
	border-top: 1px solid #ebebeb; /* #ebebeb */
	border-bottom: 1px solid #ebebeb;
}
div#wrap_combined_inputs span.nui-atc:first-child {
	border-top: 1px solid #ebebeb;
}
div#wrap_combined_inputs span.nui-atc:last-of-type {
	border-bottom: 0;
/*	background: url('../images/site/h_shadow.png') no-repeat 50% -31px; */
}
div#wrap_combined_inputs span.button_wrapper {
	height: 0;
	width: 100%;
	overflow: visible;
	display: block;
	position: relative;
	z-index: 10;
	border: 1px solid #B2B2B2;
}
div#wrap_combined_inputs span.nui-atc input {
	margin: 14px 0 14px 40px;
	height: 32px;
	border: 1px solid #dbdbdb;
	width: 232px;
	font-size: .9em;
	color: #756755;
}
input#add_input {
	height: 14px;
	width: 62px;
	margin: 0 auto;
	position: absolute;
	top: -7px;
	left: 23px;
	border: 0;
	border-radius: 0;
	background: url('../images/site/bar_buttons.png') no-repeat 50% -838px;
	overflow: hidden;
	text-indent: -999px;
}
.row{padding:5px;cursor:pointer;}
/*/////// INFO BOX /////////////////////////////*/
.infoBox{border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;opacity:0.75;width:280px;}

/*/////COMBINED///////////*/
.nui-lst{position:relative;top:20px;}
.ui-state-default{padding-left:3px;padding-right:3px;}
