
@import "reset.css";

/* 
** general //////////////////////////////////////
*/
html, body {
	padding: 0;
	margin: 0;
	/*forces address bar to hide on iphone*/
	min-height:540px;
	height: 100%;
}
/*forces address bar to hide on iphone*/
body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; }
/* main top bar */
div#wrap_all{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto 0px;position:relative;top:60px;}
#mainbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 60px;
	text-align: center;
	background: #aeed63;
/*	background: url('../images/site/button_base.png') repeat-x; */
}
#mainbar .group {
	position: absolute;
	text-align: center;
	height: 100%;
}
#mainbar .center {
	left: 50%;
	width: 20%;
	margin: 0 auto;
	background: none;
}
#mainbar .center .button {
	position: relative;
	width: 100%;
	height: 100%;
	right: 50%;
	background: #fbc619;
}
#mainbar .left {
	width: 40%;
	left: 0;
/*	padding-right: 1px; */
}
#mainbar .right {
	width: 40%;
	right: 0;
/*	padding-left: 1px; */
}
#mainbar .left .button,
#mainbar .right .button  {
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
/*	background: url('../images/site/button_topshadow.png') repeat-x; */
}
#mainbar .right .button {
	float: right;
}
#mainbar .left span,
#mainbar .center span,
#mainbar .right span {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* footer */
#footer {
	display: none;
}

/* 
** ui elements 
** nui overwrites ///////////////////////////////
*/

/* main top bar */

#mainbar button.nui-btn {
	height: 100%;
	background: url('../images/site/bar_buttons.png') no-repeat;
}
#mainbar button.nui-btn,
#mainbar div.nui-try {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
	width: 100%;
}
#mainbar button.nui-btn img {
	display: none;
}
#mainbar div.bt_4 button.nui-btn {
	background-position: 50% -1020px;
}
#mainbar div.bt_4 button.nui-slc { /* sel */
	background-position: 50% -960px;
}
#mainbar div.bt_5 button.nui-btn {
	background-position: 50% -660px;
}
#mainbar div.bt_5 button.nui-slc { /* sel */
	background-position: 50% -600px;
}
#mainbar div.bt_3 button.nui-btn {
	background-position: 50% -300px;
}
#mainbar div.bt_3 button.nui-slc { /* sel */
	background-position: 50% -240px;
	background-color: #fbc619;
	border-bottom: 1px solid #e6b014;
}
#mainbar div.bt_2 button.nui-btn {
	background-position: 50% -180px;
}
#mainbar div.bt_2 button.nui-slc { /* sel */
	background-position: 50% -120px;
}
#mainbar div.bt_1 button.nui-btn {
	background-position: 50% -60px;
}
#mainbar div.bt_1 button.nui-slc { /* sel */
	background-position: 50% 0;
}
#mainbar button.nui-slc {
	background-color: #301400;
}
#mainbar div.nui-try {
	background-color: #301400;
}
#mainbar div.nui-try button.nui-btn {
	background: none;
	color: white;
	height: 50px;
	text-shadow: none;
	font: bold .9em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-indent: 20px;
	border-top: 1px solid #3b210a;
	border-bottom: 1px solid #220d00;
}
#mainbar div.bt_3 div.nui-try button.nui-btn {
	background: #fbc619 url('../images/site/bar_buttons.png') no-repeat 50% 0;
	text-indent: -999px;
	overflow: hidden;
	border: 0;
}
#mainbar div.bt_3 div.nui-try button.nui-btn:nth-child(1) {
	background-position-y: -306px;
	border-top: 1px solid #fcd147;
}
#mainbar div.bt_3 div.nui-try button.nui-btn:nth-child(2) {
	background-position-y: -426px;
}
#mainbar div.bt_3 div.nui-try button.nui-btn:nth-child(3) {
	background-position-y: -546px;
}
#mainbar div.nui-try button.nui-btn:first-child {
	border-top-color: #301300;
}
#mainbar div.bt_5 div.nui-try button.nui-btn:last-child {
	background: #ff565e;
	border-bottom-color: #e03d45;
}
#mainbar div.nui-try button.nui-slc {
	border-left: 10px solid #aeed63;
	text-indent: 10px;
}
#mainbar div.bt_3 div.nui-try button.nui-slc {
	border-left: 0;
}


/* options dialog */

span.nui-dlg {
	z-index: 100;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	height: auto;
}
span.nui-dlg.list_view {
	height: auto !important;
	z-index: 90;
}
span.nui-dlg.dircontrol .title,
span.nui-dlg.locations-saved-list .title {
	width: 100%;
	display: table;
	height: 50px;
	text-align: center;
	background-color: #fff;
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
	color: #ff6666;
}
span.nui-dlg.dircontrol .title h2,
span.nui-dlg.locations-saved-list .title h2 {
	display: table-cell;
	vertical-align: middle;
	font-size: .9em;
	background: url('../images/site/h_shadow.png') no-repeat 50% 42px;
}
span.locations-saved-list {
	background: #fff;
	position: relative;
	position: absolute;
}

.nui-dlg.dircontrol .nui-icn,
.nui-dlg.locations-saved-list .nui-icn {
	position: absolute;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
span.nui-dlg.dircontrol button.nui-btn {
	border: 0;
	padding: 0;
	width: 100%;
	display: block;
	float: none;
	height: 48px;
	background: #ebeaea url('../images/site/list_sel.png') 100% -1px no-repeat;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #e4e3e2;
	-webkit-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	text-align: left;
	text-indent: 20px;
	color: #2d1500;
	font-size: .9em;
	font-weight: bold;
}
span.nui-dlg.dircontrol img + button.nui-btn {
	border-top-color: #ebeaea;
}
span.nui-dlg.dircontrol button.nui-slc {
	background-position: 100% -51px;
}

.nui-dlg.locations-saved-list .row {
	width: 100%;
	display: block;
	float: none;
	height: 48px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #e4e3e2;
	text-align: left;
	text-indent: 20px;
	font-size: .9em;
	font-weight: bold;
	cursor: pointer;
	line-height: 3.3em;
	background: #fff;
	color: #2d1500;
}

span.nui-dlg.dircontrol .close,
span.nui-dlg.locations-saved-list .close {
	width: 100%;
	background-color: #ebeaea;
	height: 99px;
	display: block;
	position: relative;
	text-align: center;
	border-top: 1px solid #f5f5f5;
	border-bottom-left-radius: .4em;
	border-bottom-right-radius: .4em;
}
span.nui-dlg.locations-saved-list .close {
	position: absolute;
	bottom: 0;
}
span.nui-dlg.dircontrol .close span,
span.nui-dlg.locations-saved-list .close span {
	width: auto;
	padding: 40px 0 2px;
	color: #ff6666;
	font-weight: bold;
	font-size: .9em;
	border-bottom: 1px solid #ff6666;
	display: inline-block;
}


.nui-lst {
	width: 100%;
	position: relative;
	font-size: .9em;
	text-shadow: none;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	z-index: 90;
	padding: 10px 0 0 0;
	background:  url('../images/site/save_texture.png') no-repeat 40px -388px;
	margin-top: -10px;
}
.overflow-visible{
	overflow: visible !important;
}
.nui-lst button {
	background: #fff;
	padding: 5px 20px 6px;
	border-bottom: 1px solid #f4f3f3;
	color: #756755;
}
.nui-itm.nui-hvr,
.nui-slc {
	border: 0;
	text-shadow: none !important;
	background: #756755;
}


/* list view dialog */

.list_view {
	position: absolute;
	top: 60px !important;
	left: 0 !important;
	width: 100% !important;
	overflow: auto;
	z-index: 89;
}
.list_view img.nui-icn {
	right: 0 !important;
	top: 0;
}



/* 
** google maps //////////////////////////////////
*/

div.items-container {
	width:20%;
	float:left;
}
div#map_canvas {
	position: absolute;
	bottom: 0;
	width:100%;
	height:100%;
}
div#token {
	display:none;
}
div#loading-gif {
	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	height:100px;
	overflow:hidden;
}

/* 
** media calls //////////////////////////////////
*/

/* assets for retina displays and high-res */
@media
only screen and (-webkit-min-device-pixel-ratio: 2) {
}

/* submenu for smartphones */
@media
only screen and (max-width: 960px),
only screen and (max-device-width: 960px) {
	div.right div.nui-try {
		position: absolute;
		right: 0;
	}
	div.left div.nui-try {
		position: absolute;
		left: 0;
	}
}

/* submenu for standard screens */
@media
only screen and (min-width: 960px),
only screen and (max-device-width: 960px) {
}




/*///// A panel to show stuff to work on//////////*/
div#working-panel {
	display: none;	
	background: #ebebeb;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-align: end;
	
	/* FIND A WAY TO APPLY THIS
	-moz-box-orient: horizontal;
	-moz-box-pack: justify;
	-moz-box-align: end;
	box-orient: horizontal;
	box-pack: justify;
	box-align: end;
	*/
}
div#working-panel div.division1 {
	position: absolute;
	height: 23px;
	width: 100%;
	bottom: -5px;
	background: url('../images/site/h_shadow.png') no-repeat 50% -8px;
	z-index: 50;
}
div#wrap_combined_inputs {
	width: 100%;
	overflow: auto;
	max-height: 100%;
}
div#wrap_combined_inputs_save{
	width: 100%;
	overflow: auto;
	max-height: 100%;
	position:relative;
	left:40%;
}
#save_input {
	clear: both;
	display: block;
	height: 60px;
	width: 100%;
	border: 0;
	background: #ff6666 url('../images/site/save_texture.png') 50% top;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-size: .9em;
	text-transform: capitalize;
}
div#wrap_combined_inputs span.nui-atc {
	border: 0;
	height: 60px;
	width: 100%;
	background: #f5f4f4 url('../images/site/save_texture.png') repeat-x 50% -60px;
	border-top: 1px solid #ebebeb; /* #ebebeb */
	border-bottom: 1px solid #ebebeb;
	padding: 0;
}
div#wrap_combined_inputs span.nui-atc:first-child {
	border-top: 1px solid #ebebeb;
	margin-top: 60px;
}
div#wrap_combined_inputs span.nui-atc:last-of-type {
	border-bottom: 0;
/*	background: url('../images/site/h_shadow.png') no-repeat 50% -31px; */
}
div#wrap_combined_inputs span.nui-atc div.drag_handle,
div#wrap_combined_inputs span.nui-atc div.details,
div#wrap_combined_inputs span.nui-atc div.delete_handle {
	position: absolute;
	top: 0;
	width: 40px;
	height: 100%;
	background: url('../images/site/save_texture.png') no-repeat 0 -120px;
}
div#wrap_combined_inputs span.nui-atc div.drag_handle {
	right: 40px;
	cursor: move;
	background-position-x: 10px;
}
div#wrap_combined_inputs span.nui-atc div.delete_handle {
	left: 0;
	background-position: 6px -240px;
}
div#wrap_combined_inputs span.nui-atc div.details {
	right: 0;
	background-position: 12px -180px;
	cursor:pointer;
}
div#wrap_combined_inputs span.button_wrapper {
	height: 0;
	width: 100%;
	overflow: visible;
	display: block;
	position: relative;
	z-index: 10;
	border: 1px solid #B2B2B2;
	border-left: 0;
	border-right: 0;
}
div#wrap_combined_inputs span.nui-atc input {
	margin: 14px 0 14px 40px;
	height: 32px;
	border: 1px solid #dbdbdb;
	width: 200px;
	font-size: .9em;
	color: #756755;
	padding-left: 7px;
}
div#wrap_combined_inputs_save {
	display:none;
}
input#add_input {
	height: 14px;
	width: 62px;
	margin: 0 auto;
	position: absolute;
	top: -7px;
	left: 23px;
	border: 0;
	border-radius: 0;
	background: url('../images/site/bar_buttons.png') no-repeat 50% -1079px;
	overflow: hidden;
	text-indent: -999px;
}
div.bt_2 div.nui-try div.open button.nui-slc:nth-child(2) {
	background: #f5f5f5 !important;
	border-left: 0 !important;
	text-indent: 20px !important;
	color: #ff6666 !important;
	border-bottom: 0 !important;
}
div.bt_2 div.nui-try div.open div#wrap_combined_inputs_save {
	width: 100%;
	overflow: auto;
	height: 50px;
	position: relative;
	left: 0;
	background: #f5f5f5;
	text-align: left;
	border-bottom: 1px solid #c4b0b0;
}
div.bt_2 div.nui-try div.open div#wrap_combined_inputs_save input {
	height: 32px;
	border: 1px solid #ff6666;
	width: 88%;
	font-size: .9em;
	color: #756755;
	margin-left: 20px;
	padding-left: 7px;
}
div.bt_2 div.nui-try div.open div#wrap_combined_inputs_save button {
	background: #ff6666 url('../images/site/list_sel.png') no-repeat 50% -100px;
	width: 84px;
	height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	border-right: 20px solid #f5f5f5;
	padding: 0;
}
.info_box,
.infoBox {
	border: 0;
	background: url('../images/site/save_texture.png') repeat-x 50% -292px;
	width: 200px;
	font-size: .9em;
	height: 58px;
	overflow: hidden;
	display: table !important;
	padding-top: 8px;
}
.info_box .infoRow {
	display: table-cell;
	width: 152px;
	height: 58px;
	color: #fff;
	vertical-align: middle;
	padding-left: 10px;
}
.info_box .actionRow,
.info_box .more {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 28px;
	height: 28px;
}
.info_box .more {
	top: 8px;
	background: #4dbfca url('../images/site/list_sel.png') no-repeat 6px -126px;
}
.info_box .actionRow button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #4dbfca url('../images/site/list_sel.png') no-repeat -18px -126px;
	border: 0;
	width: 100%;
	height: 100%;
}
.info_box .bubble {
	background: url('../images/site/save_texture.png') no-repeat 50% -380px;
	position: absolute;
	top: 0;
	width: 100%;
	height: 8px;
	display: block;
}

/* 
** google list overwrite /////////////////////////
*/

.adp-list {
	border: 0;
	padding: 0 !important;
	background: #645345;
}
.adp-listheader {
	padding: 14px 0 8px !important;
	color: #aae461 !important;
}
table.adp-fullwidth td {
	padding: 2px 0;
	font-size: .9em;
	color: #e8e6e5;
	text-indent: 20px;
	background-color: #645345;
}
table.adp-fullwidth tr:last-child td {
	padding-bottom: 11px;
}
table.adp-fullwidth td.adp-listsel {
	border-left: 20px solid #3b2411;
	text-indent: 10px;
}
table.adp-placemark {
	margin: 0;
	border: 0;
}
table.adp-placemark {
	background: #f5f4f4;
	height: 60px;
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #cac5c2;
}
/*
span.list_view  div:last-child div:last-child table.adp-placemark:last-child {
	margin-bottom: 60px;
}
*/
table.adp-placemark tr td:first-child {
	min-width: 40px;
	background: #c5bfbd;
	text-align: center;
	padding: 0;
}
table.adp-placemark tr td.adp-text,
table.adp-placemark tr td.adp-step {
	padding: 0 12px 21px;
	font-size: .9em;
	color: #502f04;
	font-weight: bold;
}
table#adp-placemark .adp-summary {
	position: absolute;
	padding: 0;
	top: -26px;
	font-size: .9em;
	left: 52px;
}
.adp-summary {
	height: 24px;
	margin-top: -27px;
	font-size: .9em;
	text-indent: 50px;
	color: #502f04;
}
table.adp-directions tr {
	font-size: .9em;
	color: #726256;
	min-height: 20px;
	border-bottom: 1px solid #dcd8d7;
}
table.adp-directions tr td.adp-substep {
	border: 0;
	padding: 4px 0;
	vertical-align: middle;
	background: #eceaea;
	line-height: 1.3em;
}
table.adp-directions tr:first-child td {
	padding-top: 20px;
	background-position-y: 6% !important;
}
table.adp-directions tr:last-child td {
	padding-bottom: 20px;
	background-position-y: 70% !important;
}
table.adp-directions tr td.adp-substep:first-child {
	text-align: right;
	min-width: 40px;
	overflow: hidden;
	background: #ECEAEA url('../images/site/route_step.png') no-repeat 0 50%;
}
table.adp-directions tr td.adp-substep:nth-child(2) {
	padding-left: 7px;
	padding-right: 10px;
}
table.adp-directions tr td.adp-substep:nth-child(3) {
	padding-right: 18px;
	padding-left: 10px;
}
div.adp-legal {
	display: none;
}
.nui-dlg.list_view .nui-icn { 
	display: none;
}


/*
div.backmap {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: table;
	background: #502f04;
}
div.backmap .backtext {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: .9em;
	font-weight: bold;
	color: #fff;
}
*/

#adp-placemark img,
.adp-placemark img {
	display: none;	
}
table#adp-placemark tr td:first-child {
	background: #C5BFBD url('../images/site/legs.png') no-repeat 0 50%;
}
div[jsselect="legs"]:nth-child(3) table.adp-placemark tr td:first-child {
	background: #C5BFBD url('../images/site/legs.png') no-repeat -40px 50%;
}
div[jsselect="legs"]:nth-child(4) table.adp-placemark tr td:first-child {
	background: #C5BFBD url('../images/site/legs.png') no-repeat -80px 50%;
}
div[jsselect="legs"]:nth-child(5) table.adp-placemark tr td:first-child {
	background: #C5BFBD url('../images/site/legs.png') no-repeat -120px 50%;
}





/*/////// INFO BOX /////////////////////////////*/

/*
.infoBox{border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;opacity:0.75;width:280px;}
*/

/*/////COMBINED///////////*/

.ui-state-default{padding-left:3px;padding-right:3px;}
.delete_handle{cursor:pointer;}
/*SAVED DATA*/
.store_delete{position:absolute;cursor:pointer;right:3px;width: 40px;
height: 40px;background: url('../images/site/save_texture.png') no-repeat 0 -120px;background-position: 6px -240px;}
.store_text{cursor:pointer;}